/* MUST be first */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Then Tailwind */
@import "tailwindcss";

/* Global font */
body {
  font-family: "Ubuntu", sans-serif;
}

/* Your animation */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slideLeft 25s linear infinite;
}
